<div class="row m-0 p-4">
  <div
    class="p-3 pt-0 pb-0 mb-4 text-white d-flex justify-content-between align-items-center"
    style="border-color: #354670; background-color: transparent"
  >
    <p class="fw-bolder d-flex align-items-center">
      <mat-icon class="fs-4">snowshoeing</mat-icon
      ><span class="m-3 mb-0 mt-0">Office Boy</span>
    </p>
    <button
      class="btn btn-info d-flex align-items-center"
      style="padding: 6px"
      (click)="addBoy()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="card mb-3" style="background-color: #1e2c50">
    <div
      class="card m-4 p-3"
      style="border: 0; background-color: rgb(47, 63, 105); color: white"
    >
      <div class="row justify-content-between">
        <div class="col-sm-1">#</div>
        <div class="col-sm-2 col-md-3">Username</div>
        <div class="col-sm-2">Joining Date</div>
        <div class="col-sm-2">Gender</div>
        <div class="col-sm-2">Room</div>
        <div class="col-sm-2">Action</div>
      </div>
    </div>
    <div class="m-4 mt-0 mb-3 p-3 pt-1 pb-1">
      <div *ngFor="let boy of boys">
        <div
          class="row justify-content-between"
          style="color: white"
          *ngIf="
            searchValue == '' ||
            boy.username.toLowerCase().includes(searchValue.toLowerCase())
          "
        >
          <div class="col-sm-1 d-flex align-items-center">
            <span
              class="rounded-circle d-flex align-items-center"
              style="width: 40px; height: 40px; border: 2px solid #354670"
              ><mat-icon class="m-auto text-info">snowshoeing</mat-icon></span
            >
          </div>
          <div class="col-sm-3 d-flex align-items-center">
            {{ boy.username }}
          </div>
          <div class="col-sm-2 d-flex align-items-center">
            {{ boy.dateTime.split("T")[0] }}
          </div>
          <div class="col-sm-2 d-flex align-items-center">{{ boy.gender }}</div>
          <div class="col-sm-2 d-flex align-items-center">
            {{ boy.roomId.name }}
          </div>
          <div class="col-sm-2 d-flex align-items-center">
            <p
              class="rounded-circle d-flex align-items-center justify-content-center"
              style="
                width: 35px;
                height: 35px;
                border: 2px solid #0dcaf0;
                color: #0dcaf0;
              "
              (click)="updateBoy(boy._id)"
            >
              <mat-icon>launched</mat-icon>
            </p>
            <p
              class="rounded-circle text-danger d-flex align-items-center justify-content-center"
              style="
                width: 35px;
                height: 35px;
                border: 2px solid red;
                margin-left: 20px;
              "
              (click)="deleteBoy(boy._id)"
            >
              <mat-icon>deleteOutline</mat-icon>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
