<div class="row m-0 m-sm-2 mt-sm-0 m-lg-0" style="top: 0; position: sticky">
  <div
    class="col-11 m-auto navbar-brand d-flex align-items-center p-4 m-1 mb-0 mt-0"
  >
    <a class="navbar-brand text-info fs-5 fw-bolder" routerLink="/">Cafe</a>
  </div>
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 mt-2 hover"
    style="color: white"
    routerLink="/category"
  >
    <span class="fw-bolder d-flex align-items-center"> <mat-icon class="fs-4">category</mat-icon></span>
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Category</a>
  </div>
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 hover"
    style="color: white"
    routerLink="/subCategory"
  >
    <span class="fw-bolder d-flex align-items-center"> <mat-icon class="fs-4">coffee</mat-icon></span>
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Sub Category</a>
  </div>
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 hover"
    style="color: white"
    routerLink="/employee"
  >
    <span class="fw-bolder d-flex align-items-center"> <mat-icon class="fs-4">groups2</mat-icon></span>
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Employee</a>
  </div>
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 hover"
    style="color: white"
    routerLink="/officeBoy"
  >
    <span class="fw-bolder d-flex align-items-center">
      <mat-icon class="fs-4">snowshoeing</mat-icon></span
    >
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Office Boy</a>
  </div>
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 hover"
    style="color: white"
    routerLink="/room"
  >
    <span class="fw-bolder d-flex align-items-center">
      <mat-icon class="fs-4">curtainsClosed</mat-icon></span
    >
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Room</a>
  </div>
  <hr class="col-lg-9 m-auto mt-2 mb-2" style="border-top: 2px solid #4a63a3" />
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mb-2 hover"
    style="color: white"
    routerLink="/dashboard"
  >
    <span class="fw-bolder d-flex align-items-center"> <mat-icon class="fs-4">dashboard</mat-icon></span>
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Dashboard</a>
  </div>
  <hr class="col-lg-9 m-auto mt-0 mb-2" style="border-top: 2px solid #4a63a3" />
  <div
    class="col-lg-9 m-auto navbar-brand d-flex align-items-center p-2 pt-1 pb-1 mt-3 mb-2"
    style="border: 2px solid #4a63a3; border-radius: 5px; cursor: pointer"
    (click)="logOut()"
  >
    <span class="fw-bolder d-flex align-items-center"> <mat-icon class="fs-4">logout</mat-icon></span>
    <a class="navbar-brand fs-6 m-3 mt-0 mb-0">Log Out</a>
  </div>
</div>
